## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.userprefs
*.rsuser

## Compiled output
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

## ASP.NET
ScaffoldingReadMe.txt

## OS / misc
.DS_Store
Thumbs.db
*.log
